<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container my-5">
    <section>
      <div class="jumbotron mb-3">
        <h1 class="display-4">Outbox Pattern Prototype</h1>
        <p class="lead">
          This is a simple prototype to demonstrate the Outbox pattern in action.
          It allows you to register orders, which are stored in a database.
          The orders are then processed asynchronously, simulating the Outbox pattern.
        </p>
        <hr class="my-4">
        <p class="lead">
          For more information, you can read the detailed documentation on the 
          <a href="https://microservices.io/patterns/data/transactional-outbox.html" target="_blank">Outbox Pattern</a>.
        </p>
      </div>
    </section>
    <section>
      <h2>What is this interface for?</h2>
      <p>You can use this interface to register <code>orders</code>.
      The orders will be stored in a database and processed asynchronously.
      The Outbox pattern is used to ensure that the orders are processed reliably and without loss.</p>
      <p>Below the form you can see the list of registered orders and its outbox record. At the first moment you must see the outbox status as <code>PENDING</code>. After a reload, you will see this status as <code>COMPLETED</code>.</p>
    </section>
    <section>
      <h2>What about the project ecosystem?</h2>
      <p>This project is designed to work within a microservices architecture.
      It can be integrated with other services such as inventory management,
      payment processing, and shipping services.</p>
      <p><strong>The services involved in this project include:</strong></p>
      <ul>
        <li><code>api:</code> Handles order API and worker</li>
        <li><code>database:</code> Stores the order data and outbox event</li>
        <li><code>worker:</code> Processes the orders</li>
        <li><code>worker beat:</code> Triggers the processing at regular intervals (5 seconds)</li>
      </ul>
    </section>
    <section>
      <h2>Register an order</h2>
      <form id="orderForm">
        <div class="form-group">
          <label for="customerName">Customer name</label>
          <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Enter customer name here">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" name="price" placeholder="Enter price here">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
    <section>
      <h2 class="mt-5">Orders List</h2>
      <p>Orders will be displayed here after registration.</p>
      <div id="ordersList">
        <ul class="list-group">
          <!-- Orders will be dynamically added here -->

        </ul>
      </div>
    </section>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

  <script>

    function createList(order) {
      const listItem = document.createElement('li');
      listItem.classList.add('list-group-item');
      listItem.textContent = `# Customer: ${order.customer_name}, Price: ${order.price}`;


      if (order.outbox && Array.isArray(order.outbox) && order.outbox.length > 0) {
        const outboxList = document.createElement('ul');
        outboxList.classList.add('list-group', 'mt-2');
        order.outbox.forEach(outboxItem => {
          const outboxListItem = document.createElement('li');
          outboxListItem.classList.add('list-group-item', 'list-group-item-secondary');
          outboxListItem.textContent = `Event: ${outboxItem.event_type}, Created: ${outboxItem.created_at}, Status: ${outboxItem.status}`;
          outboxList.appendChild(outboxListItem);
        });
        listItem.appendChild(outboxList);
      }

      document.querySelector('#ordersList ul').appendChild(listItem);
    }

    function fetchOrders() {
      fetch('/orders')
      .then(response => response.json())
      .then(data => {
        const ordersList = document.getElementById('ordersList');
        data.forEach(order => {
          createList(order);
        });
      })
      .catch(error => console.error('Error fetching orders:', error));
    }

    document.addEventListener('DOMContentLoaded', function() {
      fetchOrders();
    });

    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('orderForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const customerName = document.getElementById('customerName').value;
        const price = document.getElementById('price').value;

        if (!customerName || !price) {
          alert('Please fill in all fields.');
          return;
        }

        fetch('/orders', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ customer_name: customerName, price })
        })
        .then(response => {
          if (!response.ok) {
            return response.text().then(text => { throw new Error(text) });
          }
          window.location.reload();
        })
       .catch(error => {
          alert('Error registering order: ' + error.message);
        });
      });
    });


  </script>
</body>
</html>
